* {
  box-sizing: border-box;
  margin: 0;
}
body {
  // font-family: 'Montserrat', sans-serif;
  font-family: "Quicksand", sans-serif;
  font-weight: 500;
  font-size: 19px;
}

.custom-row {
  padding: 15px;
  max-width: 600px;
  margin: 0 auto;
}

.header {
  .title {
    font-size: 40px;
    font-weight: bold;
  }
  .sub-title,
  li {
    color: #666666;
    font-size: 19px;
    list-style-type: circle;
  }
  background-color: #eeeeee;
}

.contact {
  background-color: #f7f7f7;
  padding: 30px 15px;
  text-align: center;
  color: #666666;
  .address {
    display: block;
  }
}
.section {
  .section-title {
    font-size: 32px;
    font-weight: 600;
    margin-top: 60px;
  }
  .description {
      color: #666666;
  }
}
